.engineers-room  {
    padding-top: 30px
}

.form-container {
    font-size: 1.2em;
    display: flex;
    justify-content: center;
}
form {
    padding: 0.8em;
    border-radius: 3px;
    border: 1px solid rgb(255, 255, 255);
}
.control-group {
    padding: 5px;
}
.error {
    color: rgba(131, 7, 28, 0.884);
    padding: 5px;
    display: block;
    font-weight: 500;
}
mat-form-field.mat-form-field {
    color:white;
  }
  mat-label {
      color:white;
  }

  .radio-button label {
      padding: 8px;
      display: block;
  }