<div class="engineers-room">
  <h1>Production of Ships</h1>
  <p>Current number of ships is: {{ shipCount | async }}</p>
  <div class="form-container">
    <form [formGroup]="form" (ngSubmit)="orderSpaceShip(form.value)">
      <div class="control-group">
        <mat-form-field appearance="fill">
          <mat-label>Enter the amount</mat-label>
          <input
            type="number"
            formControlName="shipCount"
            class="mat-form-field"
            matInput
          />
        </mat-form-field>

        <span *ngIf="form.get('shipCount').hasError('required')" class="error"
          >enter a value</span
        >
        <span
          *ngIf="
            form.get('shipCount').hasError('min') ||
            form.get('shipCount').hasError('max')
          "
          class="error"
          >enter a number between 1 and 5
        </span>
      </div>

      <div class="control-group radio-button">
        <label class="control-label">Choose the type of ship:</label>
        <label *ngFor="let spaceShipType of spaceShipTypes">
          <input
            type="radio"
            formControlName="shipType"
            [value]="spaceShipType.value"
          />
          {{ spaceShipType.label }}
        </label>
      </div>
      <div class="control-group">
        <button
          mat-raised-button
          color="basic"
          type="submit"
          [disabled]="form.invalid || isProducing"
        >
          Produce
        </button>
        <p *ngIf="isProducing">Production is in progress...</p>
      </div>
    </form>
  </div>
</div>
