<div class="info">
  <h3>Informacie o aplikacji</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi accusamus
    blanditiis ipsa iusto commodi in velit exercitationem adipisci repellat, eum
    voluptatem veniam dolor soluta ut animi error nemo assumenda laudantium.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint voluptas ad
    accusamus esse molestiae rerum, at numquam ea odio! Ad cupiditate labore
    mollitia accusantium odio. Perspiciatis eius eligendi voluptate itaque!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem facere est
    nobis doloremque ipsam architecto inventore ducimus soluta. Repudiandae
    eveniet distinctio atque tempore molestiae esse quaerat, aperiam aliquam.
    Magni, consequuntur?
  </p>
</div>
