<div class="main-container">
  <div class="main-container-item">
    <h1>My hangar</h1>
    <app-space-ship
      *ngFor="let spaceShip of spaceShips|async"
      [spaceShip]="spaceShip"
    >
      <button mat-flat-button color="basic"
        *ngIf="selectedPilot && !spaceShip.pilot"
        (click)="assignPilot(spaceShip)"
      >
        Pilotuj
      </button>
      <button mat-flat-button color="basic" *ngIf="spaceShip.pilot" (click)="deassignPilot(spaceShip)">
        Opuść
      </button>
    </app-space-ship>
  </div>
  <div class="main-container-item">
    <h1>My Pilots</h1>
    <app-pilot-room (selected)="selectedPilot = $event"></app-pilot-room>
    <div class="engineers-container">
      <app-engineers-room
        
      ></app-engineers-room>
    </div>
  </div>
</div>
